body {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: grey;
}
.periodic-table {
    display: flex;
    align-items: flex-end;
    color: white;
}


.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.element {
    border: 1px solid white;
    
    
}

.periodic-column {
    width: calc(100% / 18);
    height: 100%;
}


#mainTitle {
    color: grey;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%,-50%);
}

#legendTitle {
    color: grey;
    position: absolute;
    left: 15%;
    top: 20%;
}